mkdocs==1.6.1
mkdocs-material==9.6.23
pymdown-extensions==10.14.3
mkdocs-git-revision-date-localized-plugin==1.4.4
pillow==11.1.0
cairosvg==2.7.1
mkdocs-redirects==1.2.2
mkdocs-rss-plugin==1.17.1
mkdocs-git-committers-plugin-2==2.5.0